:root{
    box-sizing: border-box;
    margin: 0rem;
}

html{
    min-height: 100vh;
    margin: 0rem;
}

body{
    background-color: beige;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*****************************************************************************************/
/* Header */
.header{
    text-align: center;
    font-size: xx-large;
    padding: 1rem 0rem;
    margin: var(--top-margin-main-title);
    background-color: beige;
    box-shadow: 0 8px 6px -6px black;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/*****************************************************************************************/
/* Container main */
.container-main{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem 1rem;
}

/*****************************************************************************************/
/* Container LHS */
.container-left{
    display: flex;
    flex-direction: column;
    width: 30%; 
    max-width: 25rem;
    background-color: rgb(214, 214, 189);
    padding: 0.5rem;
    min-height: calc(100vh - 10rem);
}

/*****************************************************************************************/
/* Container RHS */


/*****************************************************************************************/
/* Footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: rgb(214, 214, 189);
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 4rem;
}

.footer-text{
    font-size: small;
}

.img-credits{
    cursor: grab;
    height: 1.5rem;
}